# ignored directories and file types
.idea/
.pytest_cache/
__pycache__/
archiv/
applications/
data/
tests/temp/
build/
sdist/
dist/
docs/.build/
docs/*.ipynb
docs/*.csv
docs/*.json
docs/*.png
*.egg-info/
*.egg
*.pyc
*.log
*.lp
# Ignore everything in examples, add subdirectories with file exceptions to add
examples/*
!examples/model_to_get_started/
examples/model_to_get_started/*
!examples/model_to_get_started/*.ipynb
!examples/advanced_features/
examples/advanced_features/*
!examples/advanced_features/*.ipynb
!examples/advanced_features/*.csv
!examples/solar_components/
examples/solar_components/*
!examples/solar_components/*.ipynb
!examples/solar_components/*.csv