include HISTORY.rst
include LICENSE.txt
include README.rst
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * .idea
recursive-exclude * archiv

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
